version: '3.8'

services:
  # Base de datos
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}       # Estas variables se llenarán
      POSTGRES_PASSWORD: ${DB_PASS}   # desde el archivo .env
      POSTGRES_DB: ${DB_NAME}         # que generará GitHub Actions
    volumes:
      - db_data:/var/lib/postgresql/data

  # Backend
  app:
    image: jpmorillom1/dt-backend:latest
    container_name: spring_app
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      # Conexión interna usando el nombre del servicio "db"
      DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      DATASOURCE_USERNAME: ${DB_USER}
      DATASOURCE_PASSWORD: ${DB_PASS}
      GEMINI_API_KEY: ${GEMINI_KEY}
      JWT_TOKEN: ${JWT_TOKEN}

volumes:
  db_data: