    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      font-family: 'Poppins', sans-serif;
      overflow: hidden;
      background-image: url(https://i.redd.it/3hydakwumwgb1.gif) ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .login-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      padding: 20px;
      border-radius: 0 20px 20px 0;
    }
    
    form {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 12px;
      padding: 40px 50px;
      text-align: center;
     /* box-shadow: 0 4px 20px rgba(0,0,0,0.2); */
      width: 100%;
      max-width: 400px;
    }
    
    h1 {
      margin-bottom: 10px;
      color: #000000;
      font-size: 30px;
      text-align: left;
    }
    h2 {
      margin-bottom: 20px;
      color: #494949;
      font-size: 14px;
      text-align: left;

    }
    img {
      width: 80px;
      margin-bottom: 10px;
    }

    .login-header{
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 20px;
    }
    
    label {
      color: #000000;
      display: block;
      margin-top: 10px;
      text-align: left;
      font-size: 0.9em;

    }
    
    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: none;
      border-radius: 50px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.195);
    }
    
    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 50px;
      background: rgb(31, 31, 31);
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      
    }
    
    button:hover {
      background: rgb(0, 0, 0);
    }
    
    #result {
      margin-top: 10px;
      color: #000000;
      text-align: center;
    }
    
    .image-container {
      flex: 1;
      height: 100vh;
      overflow: hidden;
    }
    
    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }