body{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    font-family: 'Poppins', sans-serif;

    

}


.cards-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.cards-header{
  display: flex;
  justify-content: center;
  margin: 10px;

}

.cards-item{
    display: flex;
    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 100px;
    transition: 0.3s;
   
}



.img-card{
width: 120px;
height: 120px;
margin: 20px;
transition: transform 0.3s ease;


}


.img-card:hover {


    filter: brightness(1.2);
    transform: scale(1.1);
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));

}
.cards-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

.table-container{

    margin: 50px;

    
}
.cards-item{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.card {
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: rgba(255, 0, 0, 0);
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);

    
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #333333;
}

.input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

.icon{ 
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.button-with-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
    
}

.button-with-image:hover {
  background-color: #333333;
}


@media (max-width: 768px) {

  .cards-container {
    flex-direction: column;
    gap: 15px;
  }

  .cards-item {
    width: 100%;
    margin: 10px 0;
  }

  .img-card {
    width: 100px;
    height: 100px;
  }

  .table-container {
    margin: 20px 10px;
  }
}